.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    min-height: 100vh;
    background-color: var(--color-block);
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
}

.settings {
    background-color: transparent;
    font-size: var(--text-size-default);
    letter-spacing: 0.025rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.5s ease;
    &:hover {
        color: var(--color-accent);
        transition: all 0.5s ease;
        i {
            transform: rotate(-180deg);
            transition: transform 0.5s ease;
        }
    }
}
